.venv/
__pycache__/
.pytest_cache/
.ruff_cache/
*.pyc
data/local/
data/raw/
data/bronze/
data/silver/
data/gold/
.env
.terraform/
*.tfstate
*.tfstate.*
dbt/db_train_delay/target/
dbt/db_train_delay/dbt_packages/
logs/

